body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
}

.login-container, .register-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.logo {
    display: block;
    width: 100px;
    margin: 0 auto 20px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
/* Estilos para el contenedor del formulario de inicio de sesión */
.login-container {
    text-align: center; /* Centrar el contenido */
  }
  
  /* Estilo para el botón de "Entrar" */
  .btn {
    margin-top: 10px; /* Espacio entre el formulario y el botón */
  }
  
  /* Estilos para el enlace de regreso a la página principal */
  .return-link {
    margin-top: 10px; /* Espacio entre el botón y el enlace */
  }
  
  .return-link a {
    color: #333; /* Color del texto */
    text-decoration: none; /* Quitar subrayado del enlace */
  }
  
  .return-link a:hover {
    text-decoration: underline; /* Subrayar el enlace al pasar el mouse sobre él */
  }
  #error-message {
    display: none; /* Por defecto, el mensaje de error está oculto */
    color: red; /* Color del texto del mensaje de error */
    margin-bottom: 10px; /* Espacio inferior del mensaje de error */
  }