/* Estilos para la barra de navegación y encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

/* Estilos para los botones de control */
.controls button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

/* Estilos para el logo y enlaces de navegación */
.logo img {
  height: 40px;
}

.logo nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.logo nav ul li a {
  color: white;
  text-decoration: none;
}

/* Estilos para los botones de inicio de sesión y registro */
.auth button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* Estilos del carrusel */
.carousel-container {
  margin-top: 20px; /* Ajusta el espacio entre el navbar y el carrusel */
}

.carousel-item img {
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio del contenedor */
  height: 300px; /* Ajusta la altura del carrusel según tus necesidades */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los íconos de control */
  border-radius: 50%; /* Hacer los íconos de control circulares */
  padding: 10px; /* Espacio alrededor de los íconos de control */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro en hover */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  padding: 20px; /* Espacio alrededor del texto */
  border-radius: 10px; /* Bordes redondeados para el contenedor de texto */
}

.carousel-indicators button {
  background-color: #000; /* Color de los indicadores */
}

.carousel-indicators .active {
  background-color: #fff; /* Color del indicador activo */
}

/* Estilos para las imágenes de eventos */
.event-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.event {
  width: 30%;
  margin-bottom: 20px;
}

.event img {
  width: 100%;
}

/* Estilos para las redes sociales y la información de contacto */
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.social-media img {
  width: 80px;
  margin-right: 10px;
}

/* Estilos para el mapa */
.map {
  /* Estilos para el mapa (puedes personalizar según el servicio de mapas que uses) */
}
/* Estilos para el contenedor del mapa */
.map-container {
  width: 100%;
  height: 400px; /* Altura del mapa, ajusta según necesites */
}

