/* Estilos para la barra de navegación y encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

/* Estilos para la sección principal */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

/* Estilos para cada tarjeta de evento */
.event {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.event img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.event p {
  margin: 10px 0;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.event:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para la sección de imágenes de eventos */
.event-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/**/

/* Estilos para cada tarjeta de evento */
.event-eventos {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.event-eventos img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.event-eventos p {
  margin: 10px 0;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.event-eventos:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para la sección de imágenes de eventos */
.event-images-eventos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Para distribuir uniformemente los elementos */
  gap: 20px;
  padding: 20px;
}

/* Estilos para el fondo oscurecido */
.overlay-eventos {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* Estilos para el modal */
.modal-eventos {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

/* Estilos para el contenido del modal */
.modal-content-eventos {
  display: flex;
  align-items: flex-start;
}

.modal-left-eventos {
  flex: 1;
  padding: 20px;
}

.modal-right-eventos {
  flex: 1;
  padding: 20px;
}

.modal-left-eventos img {
  max-width: 100%;
  height: auto;
}

/* Estilos para el reglamento */
.modal-reglamento-eventos {
  margin-top: 20px;
  padding: 20px;
  background: #f0f0f0;
}

/* Estilos para el botón de cierre */
.close-eventos {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}


/* Estilos para los botones de control */
.controls button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

/* Estilos para el logo y enlaces de navegación */
.logo img {
  height: 40px;
}

.logo nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.logo nav ul li a {
  color: white;
  text-decoration: none;
}

/* Estilos para los botones de inicio de sesión y registro */
.auth button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* Estilos del carrusel */
.carousel-container {
  margin-top: 20px; /* Ajusta el espacio entre el navbar y el carrusel */
}

.carousel-item img {
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio del contenedor */
  height: 300px; /* Ajusta la altura del carrusel según tus necesidades */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para los íconos de control */
  border-radius: 50%; /* Hacer los íconos de control circulares */
  padding: 10px; /* Espacio alrededor de los íconos de control */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro en hover */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  padding: 20px; /* Espacio alrededor del texto */
  border-radius: 10px; /* Bordes redondeados para el contenedor de texto */
}

.carousel-indicators button {
  background-color: #000; /* Color de los indicadores */
}

.carousel-indicators .active {
  background-color: #fff; /* Color del indicador activo */
  
}

/* Estilos para la pantalla "Eventos */

/* Estilos para el fondo oscurecido */
.overlay-eventos {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* Estilos para el modal */
.modal-eventos {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

/* Estilos para el contenido del modal */
.modal-content-eventos {
  display: flex;
}

.modal-left-eventos {
  flex: 1;
  padding: 20px;
}

.modal-right-eventos {
  flex: 1;
  padding: 20px;
}

.modal-right-eventos img {
  max-width: 100%;
  height: auto;
}

/* Estilos para el reglamento */
.modal-reglamento-eventos {
  margin-top: 20px;
  padding: 20px;
  background: #f0f0f0;
}

/* Estilos para el botón de cierre */
.close-eventos {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}


/* Estilos para las imágenes de eventos */
.event-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.event {
  width: 30%;
  margin-bottom: 20px;
}

.event img {
  width: 100%;
}

/* Estilos para el pie de página */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  font-family: 'Arial', sans-serif;
  width: 100%;
}

.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-media a img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-media a img:hover {
  transform: scale(1.2);
}

.address-info {
  margin-left: 20px;
}

.address-info p {
  margin: 5px 0;
  font-size: 14px;
}

/* Estilos para el mapa */
.map {
  
}
/* Estilos para el contenedor del mapa */
.map-container {
  width: 100%;
  height: 400px; 
}



.map {
  flex: 1;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 50%;
  height: 50px; 
  border: 2px solid #fff;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .footer .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer .footer-content > div {
      margin: 10px 0;
      width: 100%;
  }

  .map {
      width: 90%;
      margin-top: 20px;
  }

  .map-container {
      height: 100px; 
  }
}



/* Estilos para las redes sociales y la información de contacto */
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.social-media img {
  width: 80px;
  margin-right: 10px;
  
}

/* */
/* */
/* Estilo para la pantalla "Perfil Usuario" */

/* Estilos para el contenedor del perfil */
.profile-container-PerfilUsuario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el encabezado del perfil */
.profile-header-PerfilUsuario {
    text-align: center;
    margin-bottom: 20px;
}

.avatar-PerfilUsuario {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.username-PerfilUsuario {
    font-size: 24px;
    margin-bottom: 5px;
}

.user-bio-PerfilUsuario {
    font-style: italic;
}

/* Estilos para los detalles del perfil */
.profile-details-PerfilUsuario {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.section-title-PerfilUsuario {
    font-size: 20px;
    margin-bottom: 10px;
}

.details-list-PerfilUsuario {
    list-style-type: none;
    padding: 0;
}

.detail-item-PerfilUsuario {
    margin-bottom: 5px;
}

/* Estilos para la pantalla "Tienda" */

.card-tienda {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
}

.card-tienda img {
  max-width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.card-tienda h3 {
  font-size: 1.2em;
  margin: 0 0 10px;
}

.card-tienda p {
  margin: 0 0 10px;
  color: #666;
}

.card-tienda .price {
  font-size: 1.4em;
  color: #e67e22;
  margin: 15px 0;
}

.card-tienda .category {
  font-size: 0.9em;
  color: #aaa;
  margin-top: 10px;
}

.card-tienda button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.card-tienda button:hover {
  background-color: #2980b9;
}

/* Estilos para la pantalla "Galería" */

/* Estilos para el fondo oscurecido */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

/* Estilos para el botón de cierre */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}


.recuadro-Galeria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contenido-Galeria {
  padding: 20px;
}

.titulo-Galeria {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.fecha-Galeria {
  color: #777;
  font-size: 0.9em;
}

.rayitas-Galeria {
  width: 20px;
  height: 100%;
  border-left: 2px dashed #ccc;
}


/* Estilos para la pnatalla "Contáctanos" */
.container-contactanos {
  display: flex;
  align-items: flex-start;
}

.recuadro-contactanos {
  width: 400px;
  height: 400px;
  background-color: lightblue;
  border: 1px solid black;
}

.texto-contactanos {
  margin-left: 20px;
}

.container-contactanos p {
  margin-left: 20px;
}